@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";

@theme {
    --font-roboto: 'Roboto', sans-serif;
    --font-playfair: 'Playfair Display', sans-serif;

    --color-violet: #7A43E4;
    --color-light-green: #CCFB99;
    --color-dark-green: #0B2618;

}

/* reset default */
@layer base {
    * {
        @apply m-0 p-0 box-border;
    }
}