.card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    padding: 10px;
}

.card-product-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card-product-info {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    
}

.card-product-title {
    font-size: 1em;
    font-weight: 400;
    margin: 5px 0;
    color: #444;
    font-family: 'Arial', sans-serif;
    text-align: left;
}

.card-product-price {
    font-size: 24px;
    font-weight: bold;
    color: #2e5c56;
    margin: 5px 0;
    text-align: left;
}

.card-product-button {
    background-color: #7A43E4;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.card-product-button:hover {
    background-color: #6742b1;
}

.card-product-button:active {
    background-color: #543692;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.heart-icon:hover {
    color: #ff6b6b;
}